.colors {
  display: block;
  text-align: center;
  margin: 2em 0;
  .color {
    display: inline-block;
    height: 1.5em;
    width: 3em;
    margin: 0 .5em 0 0;
    background-color: red;
    border-radius: 1em;
    text-align: center;
    cursor: pointer;
    .material-icons {
      color: white;
    }
    &:hover {
      opacity: 1;
    }
  }
}
