.reminder-form {
  border: 2px solid var(--main-color);
  border-top: 3em solid var(--main-color);
  border-radius: .25em;
  padding: 1em;
  position: relative;

  .times {
    position:absolute;
    right: .5em;
    top: -1.5em;
    color: #fff;
    cursor: pointer;
  }
  h3 {
    position:absolute;
    left: 1em;
    top: -3em;
    color: #fff;
  }
  input {
    width: 100%;
    font-size: 1.4em;
    padding: .25em;
    outline-width: 0;
    color: #888;
    margin: .25em 0 1em 0;
  }
  .btn {
    background-color: var(--sec-color);
    color: #fff;
    border: 1px solid var(--border-color);
    margin: 1em 0;
    border-radius: .25em;
    font-size: 1.4em;
    text-align: center;
    padding: .4em;
    cursor: pointer;
    .icon {
      margin-top: -.2em;
      margin-right: .5em;
    }
    .disabled {
      opacity: .3;
    }
  }
  .error {
    font-weight: bold;
    color: red;
    margin-top: -1em;
  }
}
