.profile {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  background-color: #fff;
  padding: 2em 1em;
  .panel {
    background-color: #000;
    padding: 1em 1em;
    border-radius: .25em;
    .title {
      font-weight: bold;
      color: #fff;
    }

    textarea:focus, input:focus{
      outline: none;
    }

    input{
      font-size: .5em;
      font-style: italic;
      padding: .5em;
      width: 220px;
      border-radius: .25em;
      outline: none;
      border: none;
    }
  }
}
