.dayreminders {
  flex-grow: 1;
  transition: .5s ease-in;
  display: flex;
  flex-direction: column;
  user-select: none;
  .current-date {
    font-weight: bold;
    cursor: pointer;
    color: var(--main-color);
    opacity: .9;
    &:hover {
      opacity: 1;
    }
  }

  hr {
    margin: 1em 0;
    border: 1px solid var(--border-color);
  }

  .list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .msg {
      flex-grow: 0;
      margin-bottom: 1em;
      b {
        color: var(--sec-color);
      }
    }
    .items {
      flex-grow: 1;
      overflow-y: scroll;
    }
  }

  .xform {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
  }

  .newreminderbtn {
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--border-color);
    margin-bottom: 1em;
    border-radius: .25em;
    font-size: 1.4em;
    text-align: center;
    padding: .4em;
    cursor: pointer;
    opacity: .9;
    &:hover {
      opacity: 1;
    }
  }
}

.loading span {
  margin-right: .25em;
}
