html {

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
}

/* FONT IMPORTS */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #7559a6;
  --sec-color: #ed1a92;
  --dark-color: #000;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
  --slider-size: .5em;
  --slider-fix: 2em;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  height: 100%;
}

.content {
  max-width: 1260px;
  margin: 0 auto;
}

.app {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .app-header {
    background-color: var(--main-color);
    // overflow: hidden;
  }

  .app-content {
    flex-grow: 1;
    // border: 10px solid red;
    display: flex;
    .content {
      display: flex;
      align-content: stretch;
      flex-grow: 1;
      border-left: 1px solid var(--border-color);
      border-right: 1px solid var(--border-color);
    }
  }

  .app-footer {
    background-color: var(--sec-color);
    // border: 10px solid red;
  }

}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
