.footer {
  text-align: center;
  color: #fff;
  padding: 1em 0;
  font-weight: bold;
  position: relative;
  a {
    font-weight: normal;
    position: absolute;
    right: 1em;
    top: 1em;
    color: #fff;
  }
}
