.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
  border-top: none;
  user-select: none;
  .cal-header {
    font-weight: 700;
    font-size: .85em;
    padding: 1.25em 0;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    background-color: #fff;
    color: #888;
    height: 4em;
    display: flex;
    a {
      text-decoration: none;
      font-size: 2em;
      color: #888;
      &:hover {
        color: var(--main-color);
      }
    }

    .date {
      display: inline-block;
    }

    .cal-title {
      width: 10em;
      flex-grow: 1;
      text-align: center;
      a {
        font-size: 1.25em;
        color: #888;
        &:hover {
          color: var(--main-color);
        }
      }
    }

    .icon {
      cursor: pointer;
      transition: .15s ease-out;
      text-decoration: none;
      &:hover {
        transform: scale(1.75);
        transition: .25s ease-out;
        color: var(--main-color);
      }
    }
  }

  .days {
    font-weight: 400;
    color: var(--text-color-light);
    font-size: 70%;
    border-bottom: 1px solid var(--border-color);
  }

  .day {
    border: 1px solid var(--border-color);
    padding: .5em 0;
  }

  .body {

    .today {
      color: var(--sec-color);
    }

    .row {
      border-bottom: 1px solid var(--border-color);
    }

    .row:last-child {
      border-bottom: none;
    }

    .disabled {
      color: var(--text-color-light);
      pointer-events: none;
      background-color: #f6f6f6;
      .number{
        display: none;
      }
    }

    .col {
      flex-grow: 0;
      flex-basis: calc(100%/7);
      width: calc(100%/7);
    }
  }
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-end;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
  border: 1px solid red;
}

.col-end {
  border: 1px solid red;
}
