.main {
  flex-grow: 1;
  display: flex;
  background-color: #fff;

  .main-calendar {
    flex-grow: 1;
  }

  .main-reminders {
    flex-grow: 0;
    background-color: #fff;
    padding: 1em 1.5em 0 1.5em;
    width: 35em;
    min-width: 35em;
    display: flex;
    .header {
      .icon{
        position: absolute;
        right: 0;
        font-size: 2em;
        cursor: pointer;
      }
    }
  }
}
